* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #1D1B20;
  color: #fff;
  font-size: 20px;
  padding: 0 20px;
}

section {
  width: 100%;
  padding: 8px;
  background-color: #49454F;
  border-radius: 16px;
  border: 2px solid #79747E;
}

main {
  flex: 1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

header {
  .header-content {
    width: 100%;
    background-color: #49454F;
    border: 1px solid #79747E;
    border-top-color: transparent;
    border-radius: 0 0 20px 20px;
  }

  .navigation {
    padding: 20px;
  }
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;

  .image-wrapper {
    display: block;
    width: 192px;
    height: 192px;
    border-radius: 50%;
    overflow: hidden;
  }
}

.avatar {
  width: 100%;
  object-fit: fill;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}

.list-item {
  padding: 4px;
}

.navigation .navigation-list {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.link {
  position: relative;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.link::after {
    position: absolute;
    content: '';
    bottom: -5px;
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.4s;
  }

  .link:hover::after {
    width: 100%;
  }

.main-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  width: 100%;
}

.contacts-list {
  .list-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .contact-title {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .contacts-list_icon {
    width: 24px;
    height: 24px;
  }
}

.skills-list {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;

  .list-item {
    .icon-wrapper {
      width: 64px;
      height: 64px;

      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }
  }

  .list-item:last-child {
    margin-right: auto;
  }
}

.education-year {
  font-weight: 700;
}

#code {
  font-size: 16px;
} 

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #49454F;
  border-radius: 20px 20px 0 0 ;
  border: 1px solid #79747E;
  border-bottom-color: transparent;

  .github-link {
    display: flex;
    align-items: center;
    gap: 16px;

    .image-wrapper {
      width: 32px;
    }
  }

  .github-link::after {
    display: none;
  }

  .school-link {
    .image-wrapper {
      width: 128px;
    }
  }
}


@media (max-width: 1100px) {
  .main-content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 760px) {
  #code {
    font-size: 12px;
    overflow: hidden;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 16px;
  }

  .contacts-list {
    .list-item {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  
  .footer-content {
    flex-direction: column;
    gap: 16px;
  }
}